*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#42275a,#734b6d);
}
.board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 50px;
}

.board .dropBox {
    position: relative;
    width: 150px;
    height: 150px;
    /* background-color: aqua; */
    border-left:white 2px solid;
    border-bottom:white 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board .dropBox div {
    pointer-events: none;
}

.board .dropBox:nth-child(1), .board .dropBox:nth-child(4) {
    border-left: none;
}
.board .dropBox:nth-child(7) {
    border-left: none;
    border-bottom: none;
}
.board .dropBox:nth-child(8), .board .dropBox:nth-child(9) {
    border-bottom: none;
}

.drag {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: white; */
    width: 100px;
    height: 400px;
    gap: 10px;
    margin: 0 40px;
    cursor: grab;
}

.drag .dragBox {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
}

.cross {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

.cross:before {
    content: "";
    position: absolute;
    width: 5px;    
    height: 100%;
    background-color: white;
    transform: rotate(45deg);
}

.cross::after {
    content: "";
    position: absolute;
    width: 5px;    
    height: 100%;
    background-color: white;
    transform: rotate(-45deg);
}

.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: white 5px solid;
    border-radius: 50%;
}

.reset {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 15px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    transition: 0.75s;
}
.reset:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.75s;
}

.reset:active {
    cursor: pointer;
    background-color: rgb(84, 83, 83);
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0s;
}
